@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Yeseva+One&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ffad5a;
  --secondary-color: #ff5959;
  --dark-0: #13103a;
  --dark-1: #333333;
  --dark-2: #3e3e3e;
  --dark-3: #434343;
  --dark-4: #424242;
  --black: #000000;
}

body {
  font-family: "Yeseva One";
}

/* header banner section style */
.banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.banner-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.banner-title {
  max-width: 520px;
  font-size: 3.8rem;
  font-weight: 400;
  line-height: 80px;
  border-left: 5px solid var(--secondary-color);
  padding-left: 2rem;
}

.txt {
  color: var(--primary-color);
}

.banner-description {
  font-size: 1.1rem;
  font-family: "poppins";
  margin-top: 20px;
  max-width: 470px;
}

.primary-btn {
  padding: 12px;
  border: none;
  background-color: var(--secondary-color);
  color: white;
  border-radius: 5px;
  font-weight: 600;
  margin-top: 20px;
  cursor: pointer;
}

.primary-btn:hover {
  background-color: #ff1717;
}

.person0 {
  max-width: 426px;
}

/* mission section style */
.mission {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  font-family: "poppins";
  margin-top: 82px;
}

.mission-title {
  font-size: 3rem;
}

.mission-container {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}

.mission-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 360px;
  background-color: rgba(126, 79, 166, 0.1);
  padding: 1rem 2rem;
  border-radius: 26px;
}

.mission-box img {
  width: 145px;
}

.mission-header {
  font-size: 1.5rem;
  font-size: 600;
}

.mission-description {
  max-width: 320px;
  color: var(--dark-4);
  font-size: 1rem;
}

/* limit section style */

.limit,
.community {
  display: flex;
  align-items: center;
  margin-top: 5rem;
  justify-content: center;
  gap: 100px;
}

.community {
  flex-direction: row-reverse;
}

.img-section {
  position: relative;
}

.shape1 {
  z-index: 0;
  position: absolute;
  width: 230px;
  left: -7rem;
  top: 5rem;
}

.communityShape {
  z-index: 0;
  position: absolute;
  width: 230px;
  right: -7rem;
  top: 16rem;
}

.coding {
  z-index: 1;
  position: relative;
  width: 400px;
}

.txt-section {
  max-width: 660px;
  font-family: "poppins";
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.title {
  font-size: 2.3rem;
  max-width: 435px;
}

.description {
  color: var(--dark-2);
  max-width: 600px;
  font-size: 1rem;
}

.primary-btn {
  max-width: 240px;
}

/* <<<<<<<<<<<<  X-Small screen >>>>>>>>>>>> */

@media (max-width: 576px) {
  /* header banner section style */
  .banner {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
  }

  .banner-container,
  .banner-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .banner-title {
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    border-left: none;
    padding: 0;
  }

  .banner-description {
    font-size: 1rem;
    margin-top: 20px;
    text-align: center;
  }

  .person0 {
    width: 100%;
  }

  /* mission section style */

  .mission-title {
    font-size: 2rem;
  }

  .mission-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .mission-box {
    align-items: center;
    gap: 1rem;
    max-width: 360px;
    padding-bottom: 2rem;
  }
  .mission-header {
    font-size: 1.5rem;
    font-size: 600;
  }

  .mission-description {
    text-align: center;
  }

  /* limit section style */

  .limit,
  .community {
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
    gap: 50px;
  }

  .shape1,
  .communityShape {
    display: none;
  }

  .community {
    flex-direction: column;
  }

  .txt-section {
    align-items: center;
  }

  .title {
    font-size: 2rem;
    text-align: center;
  }

  .description {
    text-align: center;
    padding: 0 2rem;
  }
}

/* <<<<<<<<<<<<  Small screen >>>>>>>>>>>> */

@media (min-width: 576px) and (max-width: 768px) {
  /* header banner section style */
  .banner {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
  }

  .banner-container,
  .banner-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .banner-title {
    font-size: 3rem;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
    border: none;
    padding: 0;
  }

  .banner-description {
    font-size: 1rem;
    margin-top: 20px;
    text-align: center;
  }

  .person0 {
    width: 100%;
  }

  /* mission section style */

  .mission-title {
    font-size: 2.5rem;
  }

  .mission-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  /* limit section style */

  .limit,
  .community {
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
    gap: 50px;
  }

  .community {
    flex-direction: column;
  }

  .shape1 {
    width: 230px;
    left: -7rem;
    top: 15rem;
  }

  .communityShape {
    top: -5rem;
    left: 16rem;
  }

  .coding {
    z-index: 1;
    position: relative;
    width: 400px;
  }

  .txt-section {
    align-items: center;
  }

  .title {
    font-size: 2.2rem;
    text-align: center;
  }

  .description {
    text-align: center;
  }
}

/* <<<<<<<<<<<<  Medium screen >>>>>>>>>>>> */

@media (min-width: 768px) and (max-width: 992px) {
  /* header banner section style */
  .banner-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }

  .banner-title {
    font-size: 3rem;
    font-weight: 400;
    line-height: 50px;
    border-left: 5px solid var(--secondary-color);
    padding: 1rem;
  }

  .banner-description {
    font-size: 1rem;
    margin-top: 20px;
  }

  .person0 {
    width: 100%;
  }

  /* mission section style */
  .mission-title {
    font-size: 3rem;
  }

  .mission-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  /* limit section style */

  .limit,
  .community {
    align-items: center;
    margin-top: 10rem;
    gap: 50px;
  }

  .shape1,
  .communityShape {
    display: none;
  }

  .txt-section {
    align-items: center;
  }

  .title {
    font-size: 2rem;
    text-align: center;
  }

  .description {
    text-align: center;
    padding: 0 2rem;
  }
}
